# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Environment files
.env
.env.*

# Streamlit
.streamlit/

# IDE files
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
